<!DOCTYPE html>
<html>
<head>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <title>Life Gems: Bible Study Apps</title>
   <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
   {% block content %} {% endblock %}

   <!-- JAVASCRIPTS -->
   <script type="text/javascript" src="js/vendors/jquery.js"></script>
   <script type="text/javascript" src="js/vendors/materialize/bin/materialize.min.js"></script>
   <script type="text/javascript" src="js/index.js"></script>

   {% block js %} {% endblock %}
</body>
</html>